<% title("Home Page") %>
<div class="row">
	<div class="col-sm-6">
		<h1>Nordstrom Order Portal</h1>
		<% if !user_signed_in? %>
			<p>Please login using your storenumber and password to place orders</p>
			<p><%= link_to "Proceed to the login page", new_user_session_path %></p>
		<% else %>
			<p>You are already signed in as <em> <%= current_user.username %> (Store: <%= current_user.store %>)</em>.</p>
			<% unless current_user.admin? || current_user.fulfillment? %>
				<p><%= link_to "Click here to place an order", store_path %></p>
			<% end %>
		<% end %>
		<h2>Help</h2>
		If you forgot or have not yet received any login information, please contact Beverage Innovations. 

	</div>
	<div class="col-sm-6">
		<%= image_tag 'nordstroms-logo.png' %>
	</div>
</div>