<h1>Please verify your order</h1>

<p>
	<b>You are about to order the following items for <%= current_user.store %>:</b>
</p>

<table class="table table-striped">
	<tr>
		<th> Quantity </th>
		<th> Name </th>
		<th> Description </th>
		<th> Price </th>
		<th> Total price </th>
	</tr>
<% @cart.line_items.each do |line_item| %>
	<tr>
		<td><%= line_item.quantity%></td>
		<td><%= line_item.product.name %></td>
		<td><%= line_item.product.desc %></td>
		<td><%= humanized_money_with_symbol line_item.product.price %></td>
		<td><%= humanized_money_with_symbol line_item.total_price %></td>
	</tr>
<% end %>
	<tr>
		<td colspan="5"><em>Totals</em></td>
	</tr>
	<tr>
		<td><b><%= @cart.number_of_items %></b></td>
		<td></td>
		<td></td>
		<td></td>
		<td><b><%= humanized_money_with_symbol @cart.total_value%></b></td>
	</tr>
</table>

<p>Please confirm your order by checking "confirmed" below. Place order now will create an order immediatly, so please check for any mistakes prior to submitting this form.</p>

<%= form_for @cart, url: confirm_cart_path(@cart) do |f| %>
	<%= f.label :confirmed %>
	<%= f.check_box :confirmed %>
	<p>
		<%= f.submit "Place order now", class: "btn btn-danger", :id => "submit", :disabled => true %>
	</p>
<% end %>