<h1>Products <small>Admin</small></h1>
<p><%= link_to "Back to Admin", admin_root_path %></p>

<div class="text-center">
  <p><%= page_entries_info @products %></p>
  <%= paginate @products %>
</div>

<%= form_tag admin_products_path, method: 'get', html: {role: "form"} do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil, class: "btn btn-sm btn-primary" %>
    <%= link_to "All", admin_products_path, {class: "btn btn-sm btn-link"} %>
  </p>
<% end %>

<table class="table table-striped">
  <tr>
    <th>SKU</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
	<th>Actions</th>
  </tr>
  <% @products.each do |product| %>
  <tr>
  	<td><%= product.sku %></td>
	<td><%= product.name %></td>
	<td><%= product.desc %></td>
	<td><%= humanized_money_with_symbol product.price %></td>
	<td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
  </tr>
  <% end %>
</table>

<%= link_to "Create new product", new_admin_product_path %>